# R build files
*.o
*.so
*.dll
*.rdb
*.rdx

# RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Temporary files
.Rbuildignore

cran-comments.md

*.Rproj
*.swp


**/tests
**/.DS_Store
/Meta/
/doc/
