# R build files
*.o
*.so
*.dll
*.rdb
*.rdx

# RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Temporary files
.Rbuildignore

*.Rproj
*.swp

**/.DS_Store
/Meta/
/doc/

# KEEP these in version control
!cran-comments.md
!tests/
!tests/testthat/

# Ignore test outputs (not test code!)
tests/testthat.Rout*
tests/*.Rout*
